<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"


	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
   

   
   ">
   
   
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   
   	<property name="prefix" value="/WEB-INF/pages/"></property>
   	<property name="suffix" value=".jsp"></property>
   </bean>
   
   <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
   
   <property name="mappings">
   
   		<props>
   		
   			<prop key="/test1.do">test1</prop>
   			<prop key="/test2.do">test2</prop>
   		
   		</props>
   
   </property>
   
   </bean>
   
   
  <!--  <bean name="/test1.do" class="day15.Test1Controller"></bean>-->
  
  <bean name="test1"  class="day15.Test1Controller"></bean>
  <bean name="test2"  class="day15.Test2Controller"></bean>
  
  
   
   </beans>