<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>javaweb10</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- 实例化servlert程序 后台程序配置 -->

	<servlet>

		<servlet-name>test1</servlet-name>
		<servlet-class>com.Test1</servlet-class>

	</servlet>

	<!-- 请求映射 前端请求配置 -->
	<servlet-mapping>
		<servlet-name>test1</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>



	<servlet>

		<servlet-name>test2</servlet-name>
		<servlet-class>com.Test2</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>test2</servlet-name>
		<url-pattern>/test2</url-pattern>
		
	</servlet-mapping>

</web-app>