<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>

<package name="day9"/>


</typeAliases>

<environments default="e1">


	<environment id="e1">
	
		<transactionManager type="JDBC"></transactionManager>
		<dataSource type="POOLED">
			
			<property name="driver" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/java10?characterEncoding=UTF-8"/>
			<property name="username" value="root"/>
			<property name="password" value="123456"/>
		
		</dataSource>
	
	</environment>
	



</environments>

<mappers>

	<mapper resource="day9/Category.xml"/>
	<mapper resource="day9/Category2.xml"/>

</mappers>


</configuration>